In [1]:
import pandas as pd
import numpy as np

In [2]:
airlines = pd.read_csv("data/airlines.csv")
flights = pd.read_csv("data/flights.csv")
airports = pd.read_csv("data/airports.csv")

/Users/Saurav/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [4]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [5]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
flights.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
YEAR                   5819079 non-null int64
MONTH                  5819079 non-null int64
DAY                    5819079 non-null int64
DAY_OF_WEEK            5819079 non-null int64
AIRLINE                5819079 non-null object
FLIGHT_NUMBER          5819079 non-null int64
TAIL_NUMBER            5804358 non-null object
ORIGIN_AIRPORT         5819079 non-null object
DESTINATION_AIRPORT    5819079 non-null object
SCHEDULED_DEPARTURE    5819079 non-null int64
DEPARTURE_TIME         5732926 non-null float64
DEPARTURE_DELAY        5732926 non-null float64
TAXI_OUT               5730032 non-null float64
WHEELS_OFF             5730032 non-null float64
SCHEDULED_TIME         5819073 non-null float64
ELAPSED_TIME           5714008 non-null float64
AIR_TIME               5714008 non-null float64
DISTANCE               5819079 non-null int64
WHEELS_ON              5726566 non-null float64
TAXI_IN                5726566 non-null float64
SCHEDULED_ARRIVAL      5819079 non-null int64
ARRIVAL_TIME           5726566 non-null float64
ARRIVAL_DELAY          5714008 non-null float64
DIVERTED               5819079 non-null int64
CANCELLED              5819079 non-null int64
CANCELLATION_REASON    89884 non-null object
AIR_SYSTEM_DELAY       1063439 non-null float64
SECURITY_DELAY         1063439 non-null float64
AIRLINE_DELAY          1063439 non-null float64
LATE_AIRCRAFT_DELAY    1063439 non-null float64
WEATHER_DELAY          1063439 non-null float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

# Data Cleaning

## Fixing missing lat longs

In [7]:
airports[airports.LATITUDE.isnull()]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
96,ECP,Northwest Florida Beaches International Airport,Panama City,FL,USA,NaN,NaN
234,PBG,Plattsburgh International Airport,Plattsburgh,NY,USA,NaN,NaN
313,UST,Northeast Florida Regional Airport (St. August...,St. Augustine,FL,USA,NaN,NaN

In [8]:
# http://www.gcmap.com/airport/IATA_CODE
#IATA_CODE = ECP
airports.loc[96, 'LATITUDE'] = 30.358250
airports.loc[96, 'LONGITUDE'] = -85.795610
#IATA_CODE = PBG
airports.loc[234, 'LATITUDE'] = 44.650944
airports.loc[234, 'LONGITUDE'] = -73.468138
#IATA_CODE = UST
airports.loc[313, 'LATITUDE'] = 29.959250
airports.loc[313, 'LONGITUDE'] = -81.339721

In [10]:
# pre-set data types in certain columns to help reduce RAM usage
flights_dtype = {
'YEAR':                   np.uint16,
'MONTH':                  np.uint8,
'DAY':                    np.uint8,
'DAY_OF_WEEK':            np.uint8,
'AIRLINE':                np.object,
'FLIGHT_NUMBER':          np.uint16,
'TAIL_NUMBER':            np.object,
'ORIGIN_AIRPORT':         np.object,
'DESTINATION_AIRPORT':    np.object,
'SCHEDULED_DEPARTURE':    np.object,
'DEPARTURE_TIME':         np.object,
'WHEELS_OFF':             np.object,
'DISTANCE':               np.uint16,
'WHEELS_ON':              np.object,
'SCHEDULED_ARRIVAL':      np.object,
'ARRIVAL_TIME':           np.object,
'DIVERTED':               np.bool,
'CANCELLED':              np.bool,
'CANCELLATION_REASON':    np.object
}

In [11]:
flights.astype(flights_dtype)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408,-22.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741,-9.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811,5.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756,-9.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259,-21.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610,8.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509,-17.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753,-10.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532,-13.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656,-15.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,4,DL,2336,N958DN,DEN,ATL,30,...,453,-30.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,1,4,AA,1674,N853AA,LAS,MIA,35,...,753,-10.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,1,4,DL,1434,N547US,LAX,MSP,35,...,605,-4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,1,4,DL,2324,N3751B,SLC,ATL,40,...,553,-22.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,4,DL,2440,N651DL,SEA,MSP,40,...,557,8.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,1,4,AS,108,N309AS,ANC,SEA,45,...,455,-14.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,4,DL,1560,N3743H,ANC,SEA,45,...,451,-24.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,1,4,UA,1197,N78448,SFO,IAH,48,...,619,-7.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,1,4,AS,122,N413AS,ANC,PDX,50,...,507,-18.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,1,4,DL,1670,N806DN,PDX,MSP,50,...,551,-12.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,4,NK,520,N525NK,LAS,MCI,55,...,543,6.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,1,4,AA,371,N3GXAA,SEA,MIA,100,...,939,1.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,4,NK,214,N632NK,LAS,DFW,103,...,529,-1.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,4,AA,115,N3CTAA,LAX,MIA,105,...,839,-12.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,1,4,DL,1450,N671DN,LAS,MSP,105,...,545,-23.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,4,UA,1545,N76517,LAX,IAH,115,...,607,-11.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,1,4,AS,130,N457AS,FAI,SEA,115,...,545,-3.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,4,NK,597,N528NK,MSP,FLL,115,...,607,25.0,False,False,NaN,25.0,0.0,0.0,0.0,0.0
28,2015,1,1,4,US,413,N571UW,LAS,CLT,120,...,754,-31.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,1,4,AA,2392,N3HRAA,DEN,MIA,120,...,709,2.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819049,2015,12,31,4,AA,1538,N866AA,LAX,MIA,2355,...,731,-17.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819050,2015,12,31,4,B6,136,N569JB,PHX,JFK,2355,...,607,-15.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819051,2015,12,31,4,AS,28,N477AS,SEA,MSP,2355,...,535,28.0,False,False,NaN,12.0,0.0,16.0,0.0,0.0
5819052,2015,12,31,4,AS,111,N586AS,LAS,ANC,2355,...,353,-62.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819053,2015,12,31,4,AS,121,N768AS,SEA,ANC,2355,...,224,-27.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819054,2015,12,31,4,AS,175,N431AS,LAX,ANC,2355,...,400,-45.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819055,2015,12,31,4,AS,471,N570AS,LAX,SEA,2355,...,225,-19.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819056,2015,12,31,4,AS,850,N536AS,KOA,SEA,2355,...,712,-38.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819057,2015,12,31,4,NK,371,N661NK,FLL,BQN,2358,...,346,28.0,False,False,NaN,15.0,0.0,13.0,0.0,0.0
5819058,2015,12,31,4,DL,2224,N332NW,PHX,DTW,2359,...,512,-31.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819059,2015,12,31,4,F9,710,N209FR,DEN,RSW,2359,...,518,-12.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819060,2015,12,31,4,F9,682,N701FR,DEN,MCO,2359,...,504,-21.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819061,2015,12,31,4,F9,566,N925FR,DEN,RDU,2359,...,446,-18.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819062,2015,12,31,4,F9,300,N949FR,DEN,TPA,2359,...,509,-9.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819063,2015,12,31,4,UA,516,N17245,SEA,IAH,2359,...,600,-6.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819064,2015,12,31,4,UA,668,N66848,LAS,IAD,2359,...,652,-29.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819065,2015,12,31,4,UA,671,N33209,PDX,IAH,2359,...,545,-19.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819066,2015,12,31,4,UA,1849,N497UA,LAS,EWR,2359,...,718,-24.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819067,2015,12,31,4,AA,2342,N3DLAA,DEN,MIA,2359,...,525,-18.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819068,2015,12,31,4,AA,219,N3LYAA,LAX,ORD,2359,...,544,-19.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819069,2015,12,31,4,B6,1248,N948JB,LAS,JFK,2359,...,1020,159.0,False,False,NaN,0.0,0.0,159.0,0.0,0.0
5819070,2015,12,31,4,B6,80,N584JB,RNO,JFK,2359,...,744,-21.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819071,2015,12,31,4,B6,802,N589JB,SLC,MCO,2359,...,625,17.0,False,False,NaN,1.0,0.0,16.0,0.0,0.0
5819072,2015,12,31,4,B6,98,N607JB,DEN,JFK,2359,...,519,-11.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819073,2015,12,31,4,B6,66,N655JB,ABQ,JFK,2359,...,549,3.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753,-26.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430,-16.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432,-8.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330,-10.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442,2.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN

### Fixing Airport codes for the month of October

In [12]:
# October airport code are all 5 digits
flights[flights.MONTH==10][['MONTH','ORIGIN_AIRPORT','DESTINATION_AIRPORT']].head()

         MONTH ORIGIN_AIRPORT DESTINATION_AIRPORT
4385712     10          14747               11298
4385713     10          14771               13487
4385714     10          12889               13487
4385715     10          12892               13303
4385716     10          14771               11057

In [13]:
# Other month IATA codes are all IATA codes
flights[flights.MONTH==9][['MONTH','ORIGIN_AIRPORT','DESTINATION_AIRPORT']].head()

         MONTH ORIGIN_AIRPORT DESTINATION_AIRPORT
3920766      9            LAS                 IAH
3920767      9            SFO                 CLT
3920768      9            SFO                 MSP
3920769      9            LAS                 MSP
3920770      9            SFO                 ORD

In [14]:
# Load mapping file to fix IATA_CODE for airports with 5 digital code in Oct
airport_mapping = pd.read_csv('data/airport_mapping.csv', index_col='IATA_CODE')

In [15]:
airport_mapping.head()

              ID              CITY STATE                  AIRPORT
IATA_CODE
01A        10001      Afognak Lake    AK     Afognak Lake Airport
03A        10003  Granite Mountain    AK  Bear Creek Mining Strip
04A        10004               Lik    AK          Lik Mining Camp
05A        10005      Little Squaw    AK     Little Squaw Airport
06A        10006          Kizhuyak    AK             Kizhuyak Bay

In [16]:
# Add a ID column in airport_df with the 5-digit airportID 
# based on airport_mapping_df
airports['ID'] = list(map((lambda x: airport_mapping.loc[x,'ID']), airports.IATA_CODE))

In [17]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,ID
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,10135
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,10136
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,10140
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,10141
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,10146

In [18]:
# Fix AIRPORT fields with AirportID(5 digits) instead of IATA_CODE
for item in airports.index:
    flights['ORIGIN_AIRPORT'].replace(str(airports.loc[item]['ID']), airports.loc[item]['IATA_CODE'], inplace=True)
    flights['DESTINATION_AIRPORT'].replace(str(airports.loc[item]['ID']), airports.loc[item]['IATA_CODE'], inplace=True)

In [19]:
# Issue fixed in Oct
flights[flights.MONTH==10][['MONTH','ORIGIN_AIRPORT','DESTINATION_AIRPORT']].head()

         MONTH ORIGIN_AIRPORT DESTINATION_AIRPORT
4385712     10            SEA                 DFW
4385713     10            SFO                 MSP
4385714     10            LAS                 MSP
4385715     10            LAX                 MIA
4385716     10            SFO                 CLT

#### Label Cancellation Codes

In [20]:
cancel_reason = pd.DataFrame(
    [['NotCancel','Not Cancel'],
     ['A','Airline/Carrier'],
     ['B','Weather'],
     ['C','National Air System'],
     ['D','Security']], 
    columns=['Original_Code', 'Description'])

In [21]:
# Coding AIRPORT from IATA_CODE to index number
for item in cancel_reason.index:
    flights['CANCELLATION_REASON'].replace(
                    cancel_reason.loc[item]['Original_Code'], 
                    item, 
                    inplace=True)

In [22]:
#Set missing value to 0 to indicate 'Not Cancel'
flights['CANCELLATION_REASON'].fillna(value=0, inplace=True)

In [23]:
# Change 32 to 16 bit, signed 16 bit should be able to represent the value ranges
flights_dtype_int16 = ['DEPARTURE_DELAY','ARRIVAL_DELAY']

In [24]:
for item in flights_dtype_int16:
    flights[item].fillna(value=0, inplace=True)
    flights[item] = flights[item].astype('int16')

In [25]:
flights_dtype_uint16 = ['TAXI_OUT','SCHEDULED_TIME','ELAPSED_TIME',
                       'AIR_TIME','TAXI_IN','AIR_SYSTEM_DELAY',
                       'SECURITY_DELAY','AIRLINE_DELAY',
                       'LATE_AIRCRAFT_DELAY','WEATHER_DELAY']

In [26]:
# Filling missing values with 0
for item in flights_dtype_uint16:
    flights[item].fillna(value=0, inplace=True)
    flights[item] = flights[item].astype('uint16')

In [27]:
time_col = ['SCHEDULED_DEPARTURE','DEPARTURE_TIME','WHEELS_OFF',
            'WHEELS_ON','SCHEDULED_ARRIVAL','ARRIVAL_TIME']

In [31]:
for item in time_col:
    # Use -1 to represent no available timestamp for cancelled and diverted flights
    flights[item].fillna(value='-1', inplace=True)
    # Take only the first two digit as the hour group
    flights[item] = int(str(flights[item])[:2])
    # Map 2400 to 0, not exactly correct, but only a few data points
    flights[item].replace(24, 0, inplace=True)

In [32]:
flights[['SCHEDULED_DEPARTURE','DEPARTURE_TIME','WHEELS_OFF',
           'WHEELS_ON','SCHEDULED_ARRIVAL','ARRIVAL_TIME']].head()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,WHEELS_OFF,WHEELS_ON,SCHEDULED_ARRIVAL,ARRIVAL_TIME
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0

In [33]:
flights.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
YEAR                   5819079 non-null int64
MONTH                  5819079 non-null int64
DAY                    5819079 non-null int64
DAY_OF_WEEK            5819079 non-null int64
AIRLINE                5819079 non-null object
FLIGHT_NUMBER          5819079 non-null int64
TAIL_NUMBER            5804358 non-null object
ORIGIN_AIRPORT         5819079 non-null object
DESTINATION_AIRPORT    5819079 non-null object
SCHEDULED_DEPARTURE    5819079 non-null int64
DEPARTURE_TIME         5819079 non-null int64
DEPARTURE_DELAY        5819079 non-null int16
TAXI_OUT               5819079 non-null uint16
WHEELS_OFF             5819079 non-null int64
SCHEDULED_TIME         5819079 non-null uint16
ELAPSED_TIME           5819079 non-null uint16
AIR_TIME               5819079 non-null uint16
DISTANCE               5819079 non-null int64
WHEELS_ON              5819079 non-null int64
TAXI_IN                5819079 non-null uint16
SCHEDULED_ARRIVAL      5819079 non-null int64
ARRIVAL_TIME           5819079 non-null int64
ARRIVAL_DELAY          5819079 non-null int16
DIVERTED               5819079 non-null int64
CANCELLED              5819079 non-null int64
CANCELLATION_REASON    5819079 non-null float64
AIR_SYSTEM_DELAY       5819079 non-null uint16
SECURITY_DELAY         5819079 non-null uint16
AIRLINE_DELAY          5819079 non-null uint16
LATE_AIRCRAFT_DELAY    5819079 non-null uint16
WEATHER_DELAY          5819079 non-null uint16
dtypes: float64(1), int16(2), int64(14), object(4), uint16(10)
memory usage: 976.7+ MB

In [34]:
flights.to_pickle('cleaned_flight.pkl')

In [36]:
# load from pickle, this is much faster
flights = pd.read_pickle('cleaned_flight.pkl')

In [39]:
#Convert to cleaned csv
flights.to_csv('cleaned_flight.csv')